@font-face {
  font-family: 'PatrickHand';
  src: url('/static/font/patrick_hand/PatrickHand-Regular.ttf');
}

@font-face {
  font-family: 'PatrickHandSC';
  src: url('/static/font/patrick_hand_sc/PatrickHandSC-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('/static/font/lato/Lato-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/font/lato/Lato-Bol.ttf');
  font-weight: 700;
}

$accent-color: #5e9b9e;

$nav-bg-color: #303944;
$nav-height: 74px;

$footer-bg-color: #303944;
$footer-height: 200px;

$bg-color: #00101a;

$product-bg-color: $accent-color;