@font-face {
  font-family: 'PatrickHand';
  src: url('/static/font/patrick_hand/PatrickHand-Regular.ttf');
}

@font-face {
  font-family: 'PatrickHandSC';
  src: url('/static/font/patrick_hand_sc/PatrickHandSC-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('/static/font/lato/Lato-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/font/lato/Lato-Bold.ttf');
  font-weight: 700;
}


$primary-color-dark: #00101a;
$primary-color: #303944;
//$accent-color-dark: #5e9b9e;
//$accent-color: #e1fcf8;
$accent-color-dark: #138496;
$accent-color: #17a2b8;
$grey-normal: #dddddd;
$grey-light: #fafafa;

$bg-color: $grey-light;
$nav-bg-color: rgba($primary-color-dark, 0.9);
$footer-bg-color: $primary-color;
$product-bg-color: white;
$product-shadow-color: $grey-normal;

$nav-height: 5em;
$footer-height: 200px;
