@import "var";

.load-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'PatrickHand';
  src: url('/static/font/patrick_hand/PatrickHand-Regular.ttf');
}

@font-face {
  font-family: 'PatrickHandSC';
  src: url('/static/font/patrick_hand_sc/PatrickHandSC-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('/static/font/lato/Lato-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/font/lato/Lato-Bold.ttf');
  font-weight: 700;
}

button,
.btn {
  cursor: pointer;
}

.alert.alert-danger {
  margin-top: 0.5rem;

  & > ul {
    margin-bottom: 0;
    padding-left: inherit;
  }
}

.hr {
  border-top: 1px solid $grey-normal;

  &.margin {
    margin: 40px 0;
  }
}

.brand {
  font-family: 'PatrickHandSC', sans-serif;
}

.not-really-a-button {
  background: none;
  border: none;
  padding: 0;
  display: block;
  width: 100%;
}


.modal {

  .modal-header {
    color: white;
    background-color: $accent-color-dark;

    .close {
      color: white;
      text-shadow: none;
    }
  }
  .modal-content {
    border-radius: 0;
  }
}

html, body {
  height: 100%;
}

body {
/*  font-size: 0.9em;
  @media #{$media-sm} {
    font-size: 0.9em;
  }
  @media #{$media-md} {
    font-size: 1em;
  }*/
  @media #{$media-lg} {
    font-size: 1.1em;
  }
  font-family: 'Lato', sans-serif;

  &.modal-open {
    padding-right: 0 !important;
  }

  &.loading {
    background-color: black;
  }
}

header {
  color: white;

  nav {
    background-color: $nav-bg-color;
    min-height: $nav-height;
    line-height: $nav-height;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &.show {
      background-color: $nav-bg-color;
    }

    &.navbar {
      flex-direction: row-reverse;
      @media #{$media-md} {
        flex-direction: inherit;
      }

      .navbar-toggler {
        border: none;
        border-radius: 0;
      }
      .navbar-brand {
        font-size: 2.5em;
        margin: 0 1em 0 0;
        padding: 0;
      }

      .navbar-nav {
        width: 100%;

        .nav-item {
          &.active {

            .logout {
              color: rgba(255, 255, 255, .5);;

              &:hover {
                color: rgba(255, 255, 255, .75);
              }
            }
          }

          .nav-link {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 1.25em;

            &.logout {
              padding: 0 .75rem;
            }

            i + span {
              margin-left: 3px;
            }
          }

          &.right-menu {
            display: flex;

            @media #{$media-md} {
              margin-left: auto;
              order: 10;
            }

            & > a:first-child {
              flex: 1;
            }
          }
        }
      }
    }
  }
}

.page {
  padding-top: $nav-height + 2em;
  padding-bottom: 2em;
  margin-bottom: $footer-height;
  min-height: 100vh;
  background-color: $bg-color;
}

footer {
  height: $footer-height;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $footer-bg-color;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  z-index: -1;

  .footer-inner {

    .footer-header {
      font-size: 3em;
      margin-bottom: 0.3em;
      line-height: 1em;
    }

    .footer-name,
    .footer-date {
      opacity: 0.5;
    }

    .footer-name {
      margin-bottom: 0.3em;
    }
  }
}

// FORMS

.login-container > form {
  margin: auto;
  max-width: 500px;
}

.card-container {
  padding: 20px;
  background-color: $product-bg-color;
  box-shadow: 1px 1px 8px 1px $product-shadow-color;
}

.margin-top {
  margin-top: 15px;
}