{% load sekizai_tags static sass_tags %}
<!doctype html>
<html>
    <head>
        <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" />
        <title>{% block title %}{% endblock title %} - Newb</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% sass_src 'css/base.scss' %}">
        {% render_block 'css' %}
    </head>
    <body class="loading">
        <div class="load-container"><div class="loader"></div></div>
        <header>
            <nav class="navbar fixed-top navbar-dark bg-faded navbar-expand-md">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand brand" href="/">Newb</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:products' %}">Produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:products' %}">Mon compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:products' %}">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
{% comment %}            <nav class="navbar fixed-top navbar-dark bg-faded">
                <a class="navbar-brand brand" href="/">Newb</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shop:products' %}">Produits</a>
                        <a class="nav-link" href="{% url 'shop:products' %}">Mon espace client</a>
                    </li>
                </ul>
            </nav>{% endcomment %}
        </header>

        <div class="page">
            <div class="page-inner container">
                {% block page %}{% endblock page %}
            </div>
        </div>

        <footer>
            <div class="footer-inner container">
                <div class="footer-header brand">Newb</div>
                <div class="footer-name">Tiffany Haumey & Baptiste Rouxel</div>
                <div class="footer-date">UFA-4A / 2017</div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script type="text/javascript">
            // loading screen
            $(window).on('load', function () {
                $('.load-container').fadeOut(400, function () {
                    $('body').removeClass('loading');
                    $('.load-container').remove();
                });
            });

            var $nav = $('header > nav');
            $nav.on('show.bs.collapse', function () {
                $(this).addClass('show');
            });
            $nav.on('hide.bs.collapse', function () {
                $(this).removeClass('show');
            });

            // add _blank on external links
            $.expr[':'].external = function(obj){
                return !obj.href.match(/^mailto\:/)
                       && (obj.hostname != location.hostname)
                       && !obj.href.match(/^javascript\:/)
                       && !obj.href.match(/^$/)
            };
            $('a:external').attr('target', '_blank');

            // footer fix when modal opened
            scrollbarWidth = function () {
                var parent, child, width;

                if (width === undefined) {
                    parent = $('<div style="width:50px;height:50px;overflow:auto"><div/></div>').appendTo('body');
                    child = parent.children();
                    width = child.innerWidth() - child.height(99).innerWidth();
                    parent.remove();
                }

                return width;
            };

            var $modal = $('.modal');
            var $page = $('.page');
            var $footer = $('footer');
            $modal.on('show.bs.modal', function () {
                var padding = scrollbarWidth();
                $page.css('padding-right', padding);
                $footer.css('padding-right', padding);
            });
            $modal.on('hidden.bs.modal', function () {
                $page.css('padding-right', 0);
                $footer.css('padding-right', 0);
            })
        </script>
        {% render_block 'js' %}
    </body>
</html>