@import "../var";

header {

  nav {
    background-color: transparent;

    &.scrolled {
      background-color: $nav-bg-color;
    }

    &.animate {
      transition: all ease 400ms;
    }
  }
}

.page {
  background: url('/static/img/shop/background.jpg') no-repeat top;
  background-size: cover;
}