@import "../var";

header {

  nav {
    background-color: transparent;
    transition: background ease 400ms;

    &.scrolled {
      background-color: $nav-bg-color;
    }
  }
}

.page {
  background: url('/static/img/shop/background.jpg') no-repeat top;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .home-text {
    text-align: center;

    div {
      font-size: 3em;
      margin-bottom: 1em;
    }
  }
}