@import "../var";

.products-list {
  padding: 0;
  margin-bottom: 0;

  .list-item {
    list-style: none;
    padding: 15px;

    .product {
      padding: 20px;
      background-color: $product-bg-color;
      transition: transform ease-in-out 200ms;
      box-shadow: 1px 1px 8px 1px $product-shadow-color;

      .product-picture {
        margin-bottom: 20px;
        height: 200px;
        line-height: 200px;

        .picture-placeholder {
          display: block;
          font-size: 5em;
          color: $grey-normal;
          border: 1px solid $grey-normal;
        }
      }

      .product-title {
        margin-bottom: 20px;
        font-size: 1.5em;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .product-price {
        font-weight: bold;
        color: $accent-color-dark;
        border-top: 1px solid $grey-normal;
        padding-top: 20px;
      }

      @media #{$media-sm} {
        &:hover {
          transform: scale(1.1);
          z-index: 10;
        }
      }
    }

    .product-details {
      text-align: justify;

      table {

        margin-bottom: 0;

        b {
          padding-bottom: 0.75rem;
          display: block;
        }

        tr:first-child th,
        tr:first-child td {
          border-top: none;
        }
      }
    }
  }
}