{% extends 'base.html' %}
{% load sekizai_tags static sass_tags %}

{% block title %}Contact{% endblock %}
{% block page %}
    {% if success %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
    {% endif %}
    <form action="{% url 'shop:contact' %}" method="post">
        {% csrf_token %}
        {% include 'form_inline.html' %}
         <div class="row justify-content-end">
             <div class="col-md-10 text-center"><input class="btn btn-info" type="submit" value="Valider"/></div>
         </div>
    </form>
{% endblock %}