{% extends 'base.html' %}
{% load sekizai_tags static sass_tags %}

{% block title %}Accueil{% endblock %}
{% block page %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" type="text/css" href="{% sass_src 'css/shop/index.scss' %}">
    {% endaddtoblock %}

    <div class="home-text">
        <div>Les meilleurs jeux, au meilleur prix, c'est ici.</div>
        <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/products'">Parcourir la boutique</button>
    </div>

    {% addtoblock "js" %}
        <script type="text/javascript">
            $(document).ready(function () {
                var scroll = 0;
                var header = $('header > nav');
                var headerHeight = header.height();

                function menuBehavior() {
                    scroll = $(this).scrollTop();
                    if (scroll > headerHeight/2) {
                        header.addClass('scrolled');
                    } else {
                        header.removeClass('scrolled');
                    }
                }

                menuBehavior();
                $(document).scroll(function () {
                    menuBehavior();
                });
                header.addClass('visible');
                header.show();
            });
        </script>
    {% endaddtoblock %}
{% endblock %}