{% extends 'base.html' %}
{% load sekizai_tags static sass_tags %}

{% block title %}Connexion{% endblock %}
{% block page %}
    <div class="login-container">
        {% if form.errors %}
            <p>Votre identifiant et mot de passe ne correspondent pas. Veuillez réessayer.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Votre compte n'a pas le droit d'accéder à cette page. Pour continuer, veuillez vous connecter avec un compte qui dispose des droits.</p>
            {% else %}
                <p>Veuillez vous connecter pour voir cette page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'shop:authentication' %}">
            {% csrf_token %}
            {% include 'form_default.html' %}

            <div class="row justify-content-end">
                <div class="col-md-12 text-center">
                    <input class="btn btn-info" type="submit" value="Valider"/>
                    <input class="btn btn-secondary" type="button" value="Inscription" onclick="window.location.href='{% url 'shop:register' %}'"/>
                </div>
                <div class="col-md-12 text-center">
                    <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
                </div>
            </div>

            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
{% endblock %}