{% extends 'base.html' %}
{% load sekizai_tags static sass_tags %}

{% block title %}Produits{% endblock %}
{% block page %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" type="text/css" href="{% sass_src 'css/shop/products.scss' %}">
    {% endaddtoblock %}

    <ul class="products-list row">
        {% for product in products %}
            <li class="list-item col-lg-3 col-md-4 col-sm-6 col-12">
                <button type="button" class="not-really-a-button product" data-toggle="modal" data-target="#modal-{{ product.id }}">
                    <div class="product-picture"><img height="200px" src="{{ product.picture }}" /></div>
                    <div class="product-title"><span>{{ product.title }}</span></div>
                    <div class="product-price"><span>{{ product.price }}€</span></div>
                </button>
                <div class="modal fade" id="modal-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ product.id }}-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-{{ product.id }}-label">{{ product.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body product-details">
                                <div><b>Date de sortie : </b>{{ product.release_date }}</div>
                                <div><b>Genre(s) : </b>{{ product.genres }}</div>
                                <div><b>Plateforme(s) : </b>{{ product.platforms }}</div>
                                <div><b>Éditeur : </b>{{ product.editor }}</div>
                                <div><b>Développeur : </b>{{ product.developer }}</div>
                                <div><b>Description : </b><br/>{{ product.description }}</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info">Acheter - {{ product.price }}€</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}