{% extends 'base.html' %}
{% load sekizai_tags static sass_tags %}

{% block title %}Inscription{% endblock %}
{% block page %}
    <form action="{% url 'shop:register' %}" method="post">
        {% csrf_token %}
        {% include 'form_default.html' with form=user_form %}
        <div class="hr margin"></div>
        {% include 'form_default.html' with form=customer_form %}
        <div class="row justify-content-end">
             <div class="col-md-10 text-center"><input class="btn btn-info" type="submit" value="Valider" /></div>
         </div>
    </form>
{% endblock %}